<div class="grid pt-4" *transloco="let t">
  <div class="col-9 flex align-items-center">
    <div>
      <h2>
        Software
        <span class="text-primary">Developer</span>
        <br>
        transitioning into
        <span class="text-primary">Pentester position</span>
      </h2>
      <p class="text-gray-300 text-justify">
        {{t('introduction')}}
      </p>
    </div>

  </div>
  <div class="col-3 flex align-items-center">
    <img style="border-radius: 50%"
         class="w-full"
         src="https://media.licdn.com/dms/image/D4D03AQGCczDUWxjV0g/profile-displayphoto-shrink_400_400/0/1692289163984?e=1703116800&v=beta&t=Xlo2kzzaBio0bVVeGQ0H0vKdGODhlo1NIl8gBpRNfNw">
  </div>
</div>
