<div class="grid">
  <div class="col-10 flex align-items-center">
    <h2 class="pr-4">
      <span class="text-primary">#</span>
      {{title}}
    </h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="500" height="2" viewBox="0 0 511 2" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M511 1.5H0V0.5H511V1.5Z"/>
    </svg>
  </div>
  <div class="col-2 flex align-items-center justify-content-end">
    View all
    <span class="text-primary pl-2">
      ~~>
    </span>
  </div>
</div>
