/* You can add global styles to this file, and also import other style files */

@import 'node_modules/primeflex/primeflex.css';
@import "primeng/resources/themes/lara-dark-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeng-globals";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body{
  background-color: var(--surface-ground);
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.home-icon{
  content: url("app/menu/icons/home.svg");
}

.education-icon{
  content: url("app/menu/icons/education.svg");
}
.experience-icon{
  content: url("app/menu/icons/experience.svg");
}
.stack-icon{
  content: url("app/menu/icons/stack.svg");
}
.contact-icon{
  content: url("app/menu/icons/contact.svg");
}

.p-speeddial-action {
  width: 10rem;
  height: 3rem;
  border-radius:unset;
  background:unset;
  //background: var(--surface-section);
  color: rgb(255, 255, 255);
}

.p-speeddial-action:hover {
  background: var(--highlight-bg);
  color: rgb(255, 255, 255);
}

.p-speeddial-mask-visible {
  opacity: 6;
  transition-duration: 1s;
}
