/* You can add global styles to this file, and also import other style files */

@import 'node_modules/primeflex/primeflex.css';
@import "primeng/resources/themes/lara-dark-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeng-custom";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body{
  background-color: var(--surface-ground);
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


