<div class="grid">
  <div class="col-12 sm:col-8 md:col-10 block sm:flex align-items-center">
    <h2 class="pr-4 inline-flex">
      <span class="text-primary">#</span>
      {{title}}
    </h2>
    <div class="">
      <svg xmlns="http://www.w3.org/2000/svg" width="90%" height="2" viewBox="0 0 511 2" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M511 1.5H0V0.5H511V1.5Z"/>
      </svg>
    </div>

  </div>
  <div class="col-12 sm:col-4 md:col-2 flex align-items-center sm:justify-content-end inline">
    View all
    <span class="text-primary pl-2">
      ~~>
    </span>
  </div>
</div>
